APP_NAME="FINNWAY 360"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://your-domain.com

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=u910898544_fiinway
DB_USERNAME=u910898544_admin
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120

CASHFREE_KEY_ID=""
CASHFREE_KEY_SECRET=""
CASHFREE_MODE="production"

PHONEPE_ENV=PRODUCTION
PHONEPE_CLIENT_ID=""
PHONEPE_CLIENT_VERSION=1
PHONEPE_CLIENT_SECRET=""
PHONEPE_WEBHOOK_USERNAME=""
PHONEPE_WEBHOOK_PASSWORD=""

